:root {
  --Color-Main-Default: #4b3ee0;
  --Color-Main-Hover: #1d147b;
  --Color-Main-Active: #3d1fc2;
  --Color-Secondary-Default: #a5a5a5;
  --Color-Secondary-Hover: #7f7f7f;
  --Color-Secondary-Active: #ffffff;
  --Color-Teritary-Default: var(--Color-Main-Default);
  --Color-Teritary-Hover: var(--Color-Main-Hover);
  --Color-Teritary-Active: var(--Color-Main-Active);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Maven Pro", sans-serif;
  /* margin: 0; */
}

li,
a,
p {
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
  color: var(--Color-Main-Default);
}

.material-symbols-outlined:hover {
  color: var(--Color-Main-Hover);
}

/* --------------------------------------------- Buttons --------------------------------------------- */

.button {
  font-size: 14px;
  font-family: "Maven Pro", sans-serif;
  background-color: var(--Color-Main-Default);
  color: white;
  border: 2px solid;
  border-radius: 1px;
  padding: 10px 32px;
  margin: 0;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  transition-duration: 0.4s;
  cursor: pointer;
}

.bsm {
  font-size: 12px;
  padding: 6px 24px;
}

.bmed {
  font-size: 14px;
  padding: 10px 32px;
}

.bxl {
  font-size: 16px;
  padding: 18px 36px;
}

.button-primary {
  color: white;
  background-color: var(--Color-Main-Default);
  border: 2px solid var(--Color-Main-Default);
}

.button-primary:hover {
  color: var(--Color-Secondary-Active);
  background-color: var(--Color-Main-Hover);
  border: 2px solid var(--Color-Main-Hover);
}

.button-primary:active {
  color: var(--Color-Main-Active);
  transition: 0.1s;
  background-color: var(--Color-Secondary-Active);
  border: 2px solid var(--Color-Main-Active);
}

.button-secondary {
  color: var(--Color-Secondary-Active);
  background-color: var(--Color-Secondary-Default);
  border: 2px solid var(--Color-Secondary-Default);
}

.button-secondary:hover {
  color: white;
  background-color: var(--Color-Secondary-Hover);
  border: 2px solid var(--Color-Secondary-Hover);
}

.button-secondary:active {
  color: var(--Color-Secondary-Default);
  transition: 0.1s;
  background-color: var(--Color-Secondary-Active);
  border: 2px solid var(--Color-Secondary-Default);
}

.button-tertiary {
  color: var(--Color-Main-Default);
  background-color: var(--Color-Secondary-Active);
  border: 2px solid var(--Color-Main-Default);
}

.button-tertiary:hover {
  color: white;
  background-color: var(--Color-Main-Default);
  border: 2px solid var(--Color-Main-Default);
}

.button-tertiary:active {
  transition: 0.1s;
  color: var(--Color-Secondary-Active);
  background-color: var(--Color-Main-Hover);
  border: 2px solid var(--Color-Main-Hover);
}

/* --------------------------------------------- Navigation Bar Top --------------------------------------------- */

ul {
  list-style: none;
}

header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 5px 10%;
  background-color: #d7d7d7;
}

.Navbar-Logo {
  margin-right: auto;
  margin-left: 20px;
}

.Navbar-Links {
  list-style: none;
  margin: 0px 15px;
}

.Navbar-Links li {
  display: inline-block;
  padding: 8px 15px;
  border: 2px solid transparent;
}

.Navbar-Links li:hover {
  border: 2px solid var(--Color-Main-Default);
  border-radius: 4px;
}

.Navbar-Links li a {
  transition: all 0.3s ease 0s;
  color: var(--Color-Main-Default);
}

.Navbar-Links li a:hover {
  color: var(--Color-Main-Hover);
}

/* --------------------------------------------- Dropdown Links --------------------------------------------- */

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 150px;
  box-shadow: 0px 0px 2px 0px rgb(0, 0, 0);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}